{% extends "base.html" %}

{% block title %}Review Detail - {{recipe.title}}{% endblock %}

{% block content %}
<div class="mx-3 mx-sm-5" id="review-page">
    <div class="review-heading-section">
        <h1 class="review-title">{{ review.film_title }}</h1>
        <p class="review-user-tag">Review by {{review.user}}</p>
    </div>

    <!-- Edit and Delete buttons -->
    {% if request.user == review.user %} 
    <div class="col-12 col-sm-7 col-md-12 my-4 edit-buttons">
        <a href="{% url 'edit_review' review.id %}"><button class="form-button">Edit</button></a>
        <a href="{% url 'delete_review' review.id %}"><button class="form-button">Delete</button></a>
    </div>
    {% endif %}

    <div class="review-info mt-3 p-1">
        <div class="review-img row align-items-center">
            <div class="col-12 col-sm-5 col-md-12 d-flex justify-content-center">
                <img src="{{ review.film_image.url }}" alt="" class="review-pic">
            </div>
            <div class="row col-sm-7 col-md-12 rating-date">
                <div class="col-6 col-lg-6 col-md-12 p-2 rating-container">
                    <p class="rating-title"><span class="rating-score">{{ review.film_rating }}</span> <span class="out-of">/ 10</span></p>
                </div>
                <div class="col-6 col-lg-6 col-md-12 p-2 text-center">
                    <p class="m-0"><span class="date-watched-title">Date watched :</span></p>
                    <p class="date-watched">{{ review.date_watched }}</p>
                </div>
            </div>


        </div>
        <div class="review-detail">
            <div class="review-content">
                <h2 class="content-heading">Review</h2>
                <hr class="sub-hr">
                <p class="">{{ review.review|safe }}</p>
            </div>


        </div>
    </div>
    
    <div class="review-container">
 
        <div class="comments p-3">
            <h2 class="content-heading">Comments</h2>
            <hr class="sub-hr">
            <p></p>
        </div>
    </div>
</div>
{% endblock %}