{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container home-page">
  <div class="my-3 hero-container">
    <div class="row p-4 pb-4 pb-lg-0 pe-lg-0 align-items-center hero-section">
        <div class="col-lg-6 p-3 p-lg-5 pt-lg-3 hero-text">
          <h1 class="display-4 fw-bold lh-1 hero-header mb-3">A Community for sharing thoughts on films.</h1>
          <p class="lead hero-callout mb-3">Start sharing reviews on films you have watched and saving them to your profile by signing up below.</p>
          <hr class="break">
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a href="/accounts/signup"><button type="button" class="hero-button-1">Sign Up</button></a>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden"></div>
    </div>
  </div>

  <!-- About -->
  <div class="row">
    <div class="col-0 col-sm-1 col-lg-2"></div>
    <div class="about-section col-12 col-sm-10 col-lg-8">
      <h2>About</h2>
      <hr class="break">
      <p>Film Archive is destination for movie lovers! Here, you can explore in-depth reviews, share your thoughts, and track every film you've watched. Whether you're discovering new releases or revisiting classics, our platform helps you keep a record of your cinematic journey while connecting with a community of passionate film enthusiasts. Start reviewing, rating, and building your movie archive by signing up below</p>
    </div>
  </div>

  <div class="info-cards-section">
      <div class="row justify-content-around">
        <div class="info-card col-6">
          <h2>Add Reviews <span class="info-card-icon"><i class="fa-solid fa-plus fs-4"></i></span></h2>
          <hr class="break">
          <p>Create a review to share with the community on films you have been watching or watched previously.</p>
        </div>
        
        <div class="info-card col-6">
          <h2>View <span class="info-card-icon"><i class="fa-solid fa-list"></i></span></h2>
          <hr class="break">
          <p>Head to the Reviews section to see what the community has been watching or to find inspiration on what to watch next. </p>
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="info-card col-6">
          <h2>Comment <span class="info-card-icon"><i class="fa-regular fa-comments"></i></span></h2>
          <hr class="break">
          <p>Start a discussion with other film enjoyers by leaving comments on reviews you like or find interesting.</p>
        </div>
        
        <div class="info-card col-6">
          <h2>Profile <span class="info-card-icon"><i class="fa-regular fa-user"></i></span></h2>
          <hr class="break">
          <p>See all the films you have watched and reviewed in your profile and add any films you have yet to see to the watch later section.</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
