html, body {
  height: 100%;
  background-color: #131313;
  overflow-x: hidden;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  color: #fdfffd;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Home */
.hero-container {
  color: #fdfffd;
  background-color: #343434;
  border: 0px solid #fdfffd;
  border-radius: 5px;
}

.hero-section {
  background-image: url('../images/4fxxbm4opjd31.webp');
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px;
  height: 455px;
}


.hero-text {
  background-color: #343434;
  
}

.hero-button-1 {
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: #fdfffd;
  color: #181818;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.5s ease;
  font-weight: 500;
}

.hero-button-1:hover {
  letter-spacing: 1px;
  background-color: #ff5b3c;
  color: #181818;
}

.hero-header {
  font-size: 35px;
}

.hero-callout {
  font-size: 1rem;
}

.break {
  opacity: 1;
  color: #ff5b3c;
  width: 300px;
  margin: 10px 0px 20px;
}

.info-cards-section {
  margin-top: 80px;
}

.info-card {
  color: #fdfffd;
  background-color: #343434;
  padding: 20px;
  margin: 0px 0px 40px;
  width: 600px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 7px 29px 0px;
  
}


.info-card p {
  margin-top: 20px;
}

.offset-card {
  display: flex;
  justify-content: end;
}

.info-card-icon {
  margin-left: 5px;
  font-size: 25px;
}

.about-section {
  color: #fdfffd;
  background-color: #343434;
  margin-top: 60px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 7px 29px 0px;
}

/* Navbar */
#navbar {
  background-color: #131313 !important;
}

#logo {
  height: 35px;
  width: 192px;
}

.nav-link {
  margin: 0px 25px;
  color: #fdfffd;
  font-size: 15px;
}

.nav-link:hover {
  color: #ff5b3c;
}

/* Main */
main {
  flex: 1 0 auto;
}

/* Footer */
.footer-icon {
  height: 30px;
  width: 30px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  color: #fdfffd;
}

.footer-icon:hover {
  color: #ff5b3c;
  font-size: 35px;
}

.footer-container {
  background-color: #232323;
  margin-top: 30px;
  padding: 15px 0px;
}

.footer-container a {
  text-decoration: none;
}

/* Forms */
.forms {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #fdfffd;
  background-color: #343434;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px;
}

.form-button {
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.form-button:hover {
  letter-spacing: 1px;
  background-color: #ff5b3c;
  color: #181818;
}

.forgot-password {
  margin-top: 25px;
}

/* Reviews page */
.card {
  width: 450px;
  height: 90%;
  margin-top: 1rem;
  background-color: #343434;
  color: #fdfffd;
  padding: 15px;
  font-size: 14px;
  font-weight: 100;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 7px 29px 0px;
}

.card:hover {
  border: 1px solid #ff5b3c;
}

.card-body hr {
  margin-left: 40px;
}

.card-user {
  font-size: 18px;
  font-weight: 400;
}

.reviews-heading {
  color: #fdfffd;
  font-size: 30px;
  font-weight: 200;
}

 .review-card {
  text-decoration: none;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
} 

.card-img-top {
  height: 225px;
  width: 150px;
}

.comments-container {
  height: 100px;
}

.card-text {
  font-size: 16px;
}

/* Review Detail Pages */
#review-page {
  color: #fdfffd;
}

.review-title {
  font-weight: 350;
  font-size: 30px;
}

.review-user-tag {
  opacity: 0.8;
}

.review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #343434;
  border-radius: 10px;
}

.review-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.review, .comments, .review-detail {
  width: 100%;
}

.review-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem auto;
}

.review-pic {
  width: 250px;
  height: 375px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 7px 29px 0px;
}

.review-content {
  background-color: #343434;
  padding: 15px 15px;
  border-radius: 10px;
  margin-right: 10px;
}

.comments {
  margin-left: 10px;
  width: 100%;
  
}

.comments-heading {
  font-size: 40px;
}

.content-heading {
  font-size: 22px;
  font-weight: 500;
}

.sub-hr {
  opacity: 1;
  color: #ff5b3c;
  width: 150px;
  margin: 10px 0px;
}

.edit-buttons button {
  margin: 0px 10px;
}

.rating-title {
  font-size: 25px;
}

.out-of {
  font-size: 18px;
  opacity: 0.8;
}

.rating-score {
  padding: 0px 10px;
  border-radius: 5px;
  color: #131313;
}

.rating-container {
  text-align: center;
}

.review-heading-section {
  padding: 10px 10px 10px 20px;
  background-color: #343434;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 1000px;
}

.review-user-tag {
  margin: 0px;
}

.rating-date {
  padding: 20px 10px 10px;
}

/* Review delete page */
.delete-review {
  background-color: #343434;
  color: #fdfffd;
  margin-top: 50px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
}

.delete-review hr {
  margin-left: 70px;
}

/* Delete Comment */
.delete-button {
  background-color: #ff5b3c;
  color: #131313;
}

.delete-button:hover {
  background-color: #fdfffd;
  color: #131313;
}

/* Add comment */
#modal-content {
  background-color: #343434;
}

.comment-form {
  color: #fdfffd;
  background-color: #343434;
  padding: 0px 20px 20px;
  border-radius: 10px;
}

.modal-header {
  border: none;
}

.modal-body {
  padding: 0px;
}

.comment-button {
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: #ff5b3c;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  font-size: 15px;
  transition: all 0.5s ease;
  margin-right: 5px;
}

.comment-button:hover {
  letter-spacing: 1px;
  background-color: #fdfffd;
  color: #181818;
}

.comment-close-button {
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: #6c757d;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  font-size: 15px;
  transition: all 0.5s ease;
  color: #fdfffd;
  margin-left: 5px;
}

.comment-close-button:hover {
  letter-spacing: 1px;
  background-color: #fdfffd;
  color: #181818;
}

.close-modal-button {
  background-color: #fdfffd;
}

.add-comment-button {
  background-color: #fdfffd;
  color: #181818;
  border: none;
  border-radius: 5px;
  padding: 7px 14px;
  font-size: 20px;
  margin: 18px 20px 0px;
}

.add-comment-button:hover {
  background-color: #ff5b3c;
  color: #181818;
}

.add-comment {
  text-align: end;
}

.comment-card {
  background-color: #343434;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 400px;
}

.comment-body {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.comment-div hr {
  width: 250px;
}

.comment-user-section {
  margin-bottom: 0px;
  padding-left: 10px;
}

.comment-user {
  font-size: 18px;
  margin-left: 5px;
}

/* Profiles */
#account-container {
  color: #fdfffd;
}

.account-film-img {
  height: 180px;
  width: 120px;
  border-radius: 8px;
}

.review-account-card {
  background-color: #343434;
  padding-top: 10px;
  border-radius: 8px;
  margin: 10px;
}

.review-account-card a {
  text-decoration: none;
  color: #fdfffd;
}

.film-card-title {
  font-size: 16px;
  margin-top: 10px;
}

.film-card-break {
  color: #ff5b3c;
  opacity: 1;
  margin: 5px;
}

.profile-img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.info {
  margin-bottom: 20px;
  color: #fdfffd;
}

.about-user-section {
  background-color: #343434;
  border-radius: 10px;
  padding: 10px 25px;
}

.profile-username {
  font-size: 30px;
}

.profile-info-break {
  opacity: 1;
  color: #ff5b3c;
  width: 200px;
  margin: 5px 0px 15px;
}

.profile-reviews {
  margin-bottom: 60px;
}

.watch-later-button {
  margin: 0px 15px 15px 0px;
}

/* Collapse sections */
.collapsible {
  background-color: #343434;
  color: #fdfffd;
  cursor: pointer;
  padding: 5px 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  margin-bottom: 30px;
  border-radius: 8px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active .collapsible:hover {
  background-color: #535353;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  .info-card {
    width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .review-detail {
    width: 60%;
  }

  .review-img {
    width: 40%;
  }

  .review-pic {
    margin-left: 20px;
    width: 200px;
    height: 300px;
  }

  .review-content {
    margin: 10px 0px;
  }
  
  .comments {
    margin: 10px 0px;
  }

  .review-title {
    font-size: 35px;
  }

  .profile-img {
    height: 200px;
    width: 200px;
  }

  .info-card {
    width: 320px;
    
  }

  .info-card hr {
    width: 200px;
  }

  .comment-card {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {

  .review-info {
    flex-direction: row;
    height: 530px;
    overflow: auto;
  }

  .review-img {
    width: 30%;
  }

  .review-detail {
    width: 70%;
    padding: 2rem;

  }

  .review-container {
    flex-direction: row;
  }

  .date-watched {
    font-size: 16px;
  }

  .date-watched-title {
    font-size: 14px;
    opacity: 0.8;

  }

  .review-title {
    font-size: 35px;
  }

  .comments {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .review-detail {
    width: 100%;
  }

  .review-img {
    width: 100%;
  }

  .review-pic {
    margin: 0px;
  }

  .review-title {
    font-size: 30px;
  }

  .film-info {
    margin-left: 15px;
  }

  .profile-img {
    height: 150px;
    width: 150px;
  }

  .review-account-card {
    width: 200px;
  }

  .about-user-section {
    margin-top: 40px;
  }

  .profile-img-section {
    text-align: center;
  }

  .hero-text {
    border-radius: 10px;
  }

  .hero-button-1 {
    width: 110px;
  }

  .info-card {
    width: 100%;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .card-img-top {
    margin-left: 20px;
  }

  .card-body hr {
    margin-left: 30px;
    width: 200px;
  }

  .comment-card {
    width: 500px;
  }

}

@media screen and (max-width: 576px) {
  .card {
    width: 300px;
  }

  .card-img-top {
    margin: 10px 0px 0px;
  }

  .info {
    justify-content: center;
  }

  .about-user-section {
    width: 90%;
  }

  .delete-review {
    width: 300px;
  }

  .delete-review hr {
    margin-left: 0px;
    width: 260px;
  }

  .add-review-form {
    margin-top: 20px;
    border-radius: 0px;
    background-color: #131313;
    box-shadow: none;
  }

  .add-review-container {
    padding: 0px;
    
  }
}

@media screen and (max-width: 420px) {
  .review-title {
    font-size: 20px;
  }

  .hero-section {
    width: 90%;
    width: 280px;
  }

  .hero-container {
    display: flex;
    justify-content: center;
  }

  .hero-text hr {
    width: 150px;
  }

  .about-section hr {
    width: 150px;
  }

  .card {
    width: 300px;
  }

  .delete-review {
    width: 280px;
  }

  .delete-review hr {
    width: 240px;
  }

}

@media screen and (max-width: 343px) {
  .card {
    width: 250px;
  }
}

