html, body {
  height: 100%;
  background-color: #232323;
  overflow-x: hidden;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Navbar */
#navbar {
  background-color: #232323 !important;
}

#logo {
  height: 35px;
  width: 192px;
}

.nav-link {
  margin: 0px 25px;
  color: #fdfffd;
  font-size: 15px;
}

/* Main */
main {
  flex: 1 0 auto;
}

/* Footer */
.footer-icon {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.footer-container {
  background-color: #232323;
  margin: 20px 0px 30px;
}

/* Forms */
.forms {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #fdfffd;
  background-color: #343434;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px;
}

.form-button {
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.form-button:hover {
  letter-spacing: 1px;
  background-color: #65a1c9;
  color: #181818;
}

.forgot-password {
  margin-top: 25px;
}

/* Reviews page */
.card {
  width: 25rem;
  height: 80%;
  margin-top: 1rem;
  background-color: #343434;
  color: #fdfffd;
  padding: 15px;
  font-size: 14px;
  font-weight: 100;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 7px 29px 0px;
}

.reviews-heading {
  color: #fdfffd;
  font-size: 30px;
  font-weight: 200;
}

 .review-card {
  text-decoration: none;
}

.card-title {
  font-size: 18px;
  font-weight: 2000;
} 

.card-img-top {
  height: 180px;
  width: 120px;
}

.comments-container {
  height: 100px;
}

/* Review Detail Pages */
#review-page {
  color: #fdfffd;
}

.review-title {
  font-weight: 350;
  font-size: 30px;
}

.review-user-tag {
  opacity: 0.8;
}

.review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #343434;
  border-radius: 10px;
}

.review-container {
  display: flex;
  margin: 30px 0px;
  justify-content: center;
}

.review, .comments, .review-detail {
  width: 100%;
}

.review-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem auto;
}

.review-pic {
  width: 250px;
  height: 375px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 7px 29px 0px;
}

.review-content {
  background-color: #343434;
  padding: 15px 15px;
  border-radius: 10px;
  margin-right: 10px;
}

.comments {
  background-color: #343434;
  border-radius: 10px;
  margin-left: 10px;
  width: 100%;
  
}

.content-heading {
  font-size: 22px;
  font-weight: 500;
}

.sub-hr {
  opacity: 1;
  color: #ff5b3c;
  width: 150px;
  margin: 10px 0px;
}

.edit-buttons button {
  margin: 0px 10px;
}

.rating-title {
  font-size: 25px;
}

.out-of {
  font-size: 18px;
  opacity: 0.8;
}

.rating-score {
  padding: 0px 10px;
  background-color: #3fd56f;
  border-radius: 5px;
}

.rating-container {
  text-align: center;
}

.review-heading-section {
  padding: 10px 10px 10px 20px;
  background-color: #343434;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 1000px;
}

.review-user-tag {
  margin: 0px;
}

.rating-date {
  padding: 20px 10px 10px;
}

/* Profiles */
#account-container {
  color: #fdfffd;
}

.account-film-img {
  height: 180px;
  width: 120px;
  border-radius: 8px;
}

.review-account-card {
  background-color: #343434;
  padding-top: 10px;
  border-radius: 8px;
  margin: 10px;
}

.review-account-card a {
  text-decoration: none;
  color: #fdfffd;
}

.film-card-title {
  font-size: 16px;
  margin-top: 10px;
}

.film-card-break {
  color: #ff5b3c;
  opacity: 1;
  margin: 5px;
}

.profile-img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.info {
  margin-bottom: 20px;
  color: #fdfffd;
}

.about-user-section {
  background-color: #343434;
  border-radius: 10px;
  padding: 10px 25px;
}

.profile-username {
  font-size: 30px;
}

.profile-info-break {
  opacity: 1;
  color: #ff5b3c;
  width: 200px;
  margin: 5px 0px 15px;
}

/* Collapse sections */
.collapsible {
  background-color: #343434;
  color: #fdfffd;
  cursor: pointer;
  padding: 5px 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  margin-bottom: 30px;
  border-radius: 8px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active .collapsible:hover {
  background-color: #535353;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .review-detail {
    width: 60%;
  }

  .review-img {
    width: 40%;
  }

  .review-pic {
    margin-left: 20px;
    width: 200px;
    height: 300px;
  }

  .review-content {
    margin: 10px 0px;
  }
  
  .comments {
    margin: 10px 0px;
  }

  .review-title {
    font-size: 35px;
  }

  .profile-img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {

  .review-info {
    flex-direction: row;
    height: 530px;
    overflow: auto;
  }

  .review-img {
    width: 30%;
  }

  .review-detail {
    width: 70%;
    padding: 2rem;

  }

  .review-container {
    flex-direction: row;
  }

  .rating-container {
    text-align: none;
  }

  .date-watched {
    font-size: 16px;
  }

  .date-watched-title {
    font-size: 14px;
    opacity: 0.8;

  }

  .review-title {
    font-size: 35px;
  }

  .comments {
    width: 75%;
  }

}

@media screen and (max-width: 768px) {
  .review-detail {
    width: 100%;
  }

  .review-img {
    width: 100%;
  }

  .review-pic {
    margin: 0px;
  }

  .review-title {
    font-size: 30px;
  }

  .film-info {
    margin-left: 15px;
  }

  .profile-img {
    height: 150px;
    width: 150px;
  }

  .review-account-card {
    width: 200px;
  }

  .about-user-section {
    margin-top: 40px;
  }

  .profile-img-section {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .review-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {

}


