{% load static %}

<footer>
  <div class="row">
    <!-- <div class="col-2"></div> -->
    <div class="col-12 d-flex justify-content-around footer-container">
      <a href="" target="_blank" rel="noopener" aria-label="Film Archive Instagram (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/black-instagram-icon.svg' %}" />
      </a>
      <a href="" target="_blank" rel="noopener" aria-label="Film Archive Facebook (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/facebook-square-black-icon.svg' %}" />
      </a>
      <a href="" target="_blank" rel="noopener" aria-label="github link (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/github-icon.svg' %}" />
      </a>
      <a href="" target="_blank" rel="noopener" aria-label="Film Archive twitter page (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/x-social-media-black-icon.svg' %}" />
      </a>
    </div>
  </div>
</footer>
