{% load static %}

<footer>
  <div class="row">
    <div class="col-12 d-flex justify-content-evenly footer-container">
      <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Film Archive Instagram (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/instagram-white-icon.svg' %}" />
      </a>
      <a href="https://www.facebook.com/?locale=en_GB" target="_blank" rel="noopener" aria-label="Film Archive Facebook (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/facebook-app-round-white-icon.svg' %}" />
      </a>
      <a href="https://github.com/m-dixon5" target="_blank" rel="noopener" aria-label="github link (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/github-white-icon.svg' %}" />
      </a>
      <a href="https://x.com/" target="_blank" rel="noopener" aria-label="Film Archive twitter page (opens in new tab)">
        <img class="footer-icon" src="{% static '/icons/x-social-media-white-icon.svg' %}" />
      </a>
    </div>
  </div>
</footer>
